/* Garante uma margem dinâmica pra página de forma geral */
.tudo {
	padding: clamp(16px, 5vw, 50px);
}
/* Estilização do título principal da página */
.arco {
	font-size: 300%;
    text-align: center;
    font-family: montserrat;
    }