/* Estilização do texto dentro do botão */
.page-button-text {
	font-family: montserrat;
	font-weight: bold;
	font-size: clamp(1rem, 2vw, 4rem);
	text-align: center;
	text-decoration: none;
	color:#000000;
}
/* Estilização do botão na parte inferior da página*/
.page-button {
	width: fit-content;
	margin: 60px auto;
	border-radius: 120px;
	background-color: transparent;
	border: 4px solid #000000;
	padding: clamp(1rem, 3vw, 3rem);
}
/* Comportamento do botão quando em hover */
.page-button:hover {
	background-color: black;
	color: white;
}