.char-grid{
	display: grid;
    grid-template-columns: 50% 50%;
    gap: 24px;
    }
.char-nome {
	flex: 1;
	font-weight:bold;
    color: #FFFFFF;
    text-align: center;
	font-size: clamp(1rem, 5vw, 6rem); /* Garante tamanho dinâmico */
	margin: 0;
    font-family: bebas neue;
    }
.char-imagem {
	padding: 1px; 
	display: flex;
	align-items: center;
    gap: clamp(1rem, 2vw, 2rem); /* Garante mudança de tamanho dinâmica, porém limitada */
	}

.char-token {
	flex: 0 0 40%;
	width: clamp(80px, 12vw, 500px);
}