.card .texto {
    display: none;
}
.card.open .texto {
    display: block;
}
.texto {
    font-size: clamp(0.25rem, 1.25vw, 3rem);
    color: #ffffff;
    text-align: center;
    font-family: roboto;
}
/* Garante uma margem dinâmica pra página de forma geral */
.tudo {
	padding: clamp(16px, 5vw, 50px);
}
/* Disposição dos cards em uma coluna apenas (não sei se precisava, mas tá aí) */
.grid{
	display: grid;
    gap: 24px;
    }
.char{
	display: grid;
    grid-template-columns: 50% 50%;
    gap: 24px;
    }
/* Estilização do título principal da página */
.arco {
	font-size: 300%;
    text-align: center;
    font-family: montserrat;
    }
/* Estilização dos títulos dos cards */
.arcname {
	font-weight:400;
    color: #ffffff;
    text-align: center;
	font-size: clamp(1rem, 4vw, 6rem);
    margin: 4px;
    font-family: bebas neue;
    }
.charname {
	flex: 1;
	font-weight:bold;
    color: #FFFFFF;
    text-align: center;
	font-size: clamp(1rem, 5vw, 6rem); /* Garante tamanho dinâmico */
	margin: 0;
    font-family: bebas neue;
    }
/* Estilização dos subtítulos dos cards */
.session {
	font-weight:400;
    color: #ffffff;
    text-align: center;
    margin: 0;
    font-family: bebas neue;
    }
/* Estilização dos cards em si */
.card {
	padding: clamp(1rem, 3vw, 3rem);
	border-radius:24px;
	transition: box-shadow 0.3s ease, transform 0.3s ease; /* Necessário para a animação quando em hover */
}
/* Animação dos cards em hover */
.card:hover {
	box-shadow: 0 16px 40px rgba(0, 0, 0, 0.75); 
	transform: translateY(-6px);
}
/* Estilização do texto dentro do botão */
.troca {
	font-family: montserrat;
	font-weight: bold;
	font-size: clamp(1rem, 2vw, 4rem);
	text-align: center;
	text-decoration: none;
	color:#000000;
}
/* Estilização do botão na parte inferior da página*/
.baixo {
	width: fit-content;
	margin: 60px auto;
	border-radius: 120px;
	background-color: transparent;
	border: 4px solid #000000;
	padding: clamp(1rem, 3vw, 3rem);
}
/* Comportamento do botão quando em hover */
.baixo:hover {
	background-color: black;
	color: white;
}
.personagem {
	padding: 1px; 
	display: flex;
	align-items: center;
    gap: clamp(1rem, 2vw, 2rem); /* Garante mudança de tamanho dinâmica, porém limitada */
	}

.token {
	flex: 0 0 40%;
	width: clamp(80px, 12vw, 500px);
}